<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-pnogueron/blob/main/Semana2_Actividad1_A01097897.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Semana 2, Actividad 1</h1>
<h3>Juan Pablo Noguer√≥n Morales - A01097897</h3>

# Lab reading files

Download data 

Since I'm using google collab (which is in a different server than IBM course), I need to download the file

In [ ]:
## Uncomment these if working locally, else let the following code cell run.

import urllib.request
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt'
filename = 'Example1.txt'
urllib.request.urlretrieve(url, filename)

## Download Example file
!wget -O /resources/data/Example1.txt https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%204/data/example1.txt

/resources/data/Example1.txt: No such file or directory

In [ ]:
# Read the Example1.txt. Abrimos en modo lectura
example1 = "Example1.txt"
file1 = open(example1, "r")

In [14]:
# Print the path of file

file1.name

'Example1.txt'

In [13]:
# Print the mode of file, either 'r' or 'w'

file1.mode

'r'

In [15]:
#Leemos el archivo y lo asignamos a una variable
# Read the file

FileContent = file1.read()
FileContent

'This is line 1 \nThis is line 2\nThis is line 3'

In [16]:
#Imprimimos el contenido 
# Print the file with '\n' as a new line

print(FileContent)

This is line 1
This is line 2
This is line 3

In [17]:
# Type of file content

type(FileContent)

str

In [18]:
# Close file after finish

file1.close()

<h4>Usando with para abrir el archivo</h4>

In [19]:
# Open file using with

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

This is line 1
This is line 2
This is line 3

In [20]:
# Verify if the file is closed

file1.closed

True

In [21]:
# See the content of file

print(FileContent)

This is line 1
This is line 2
This is line 3

In [29]:
# Read first four characters

with open(example1, "r") as file1:
    print(file1.read(4))

<class '_io.TextIOWrapper'>
This

In [25]:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(4))
    print(file1.read(4))
    print(file1.read(7))
    print(file1.read(15))

This
 is
line 1

This is line 2

In [26]:
#Here is an example using the same file, but instead we read 16, 5, and then 9 characters at a time:
# Read certain amount of characters

with open(example1, "r") as file1:
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))

This is line 1

This
is line 2

In [27]:
# Read one line

with open(example1, "r") as file1:
    print("first line: " + file1.readline())

first line: This is line 1

In [28]:
#We can also pass an argument to  readline()  to specify the number of charecters we want to read. However, unlike  read(),  readline() can only read one line at most.
with open(example1, "r") as file1:
    print(file1.readline(20)) # does not read past the end of line
    print(file1.read(20)) # Returns the next 20 chars

This is line 1

This is line 2
This

In [31]:
# Iterate through the lines

with open(example1,"r") as file1:
        i = 0;
        for line in file1:
            print("Iteration", str(i), ": ", line)
            i = i + 1

Iteration 0 :  This is line 1

Iteration 1 :  This is line 2

Iteration 2 :  This is line 3

In [32]:
# Read all lines and save as a list

with open(example1, "r") as file1:
    FileasList = file1.readlines()

In [33]:
# Print the first line

FileasList[0]

'This is line 1 \n'

In [34]:
# Print the third line

FileasList[2]

'This is line 3'

# Lab writing files

<h2>Writing Files</h2>

In [35]:
#We can open a file object using the method write() to save the text file to a list. 
#To write to a file, the mode argument must be set to w. Let‚Äôs write a file Example2.txt with the line: ‚ÄúThis is line A‚Äù
# Write line to file
exmp2 = 'Example2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("This is line A")

In [36]:
# Read file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A

In [37]:
# Write lines to file

with open(exmp2, 'w') as writefile:
    writefile.write("This is line A\n")
    writefile.write("This is line B\n")

In [38]:
# Check whether write to file

with open(exmp2, 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B

In [39]:
#We write a list to a .txt file as follows:
# Sample list of text

Lines = ["This is line A\n", "This is line B\n", "This is line C\n"]
Lines

['This is line A\n', 'This is line B\n', 'This is line C\n']

In [40]:
# Write the strings in the list to text file

with open('Example2.txt', 'w') as writefile:
    for line in Lines:
        print(line)
        writefile.write(line)

This is line A

This is line B

This is line C

In [41]:
# Verify if writing to file is successfully executed

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

This is line A
This is line B
This is line C

In [43]:
#However, note that setting the mode to w overwrites all the existing data in the file.
with open('Example2.txt', 'w') as writefile:
    writefile.write("Overwrite\n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite

<h2>Appending Files</h2>

In [45]:
# Write a new line to text file

with open('Example2.txt', 'a') as testwritefile:
    testwritefile.write("This is line C\n")
    testwritefile.write("This is line D\n")
    testwritefile.write("This is line E\n")

In [46]:
# Verify if the new line is in the text file

with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Overwrite
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E

<h2>Additional Modes</h2>

It's fairly ineffecient to open the file in a or w and then reopening it in r to read any lines. Luckily we can access the file in the following modes:


r+ : Reading and writing. Cannot truncate the file.

w+ : Writing and reading. Truncates the file.

a+ : Appending and Reading. Creates a new file, if none exists.

You dont have to dwell on the specifics of each mode for this lab.

In [48]:
#A mode
with open('Example2.txt', 'a+') as testwritefile:
    testwritefile.write("This is line E\n")
    print(testwritefile.read())

In [49]:
#Trabajando con posici√≥n del cursor 
with open('Example2.txt', 'a+') as testwritefile:
    print("Initial Location: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Read nothing') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # move 0 bytes from beginning.
    
    print("\nNew Location : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Read nothing') 
    else: 
            print(data)
    
    print("Location after read: {}".format(testwritefile.tell()) )

Initial Location: 130
Read nothing

New Location : 0
Overwrite
This is line C
This is line D
This is line E
This is line C
This is line D
This is line E
This is line E
This is line E

Location after read: 130

In [50]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #write at beginning of file
   
    testwritefile.write("Line 1" + "\n")
    testwritefile.write("Line 2" + "\n")
    testwritefile.write("Line 3" + "\n")
    testwritefile.write("finished\n")
    #Uncomment the line below
    #testwritefile.truncate()
    testwritefile.seek(0,0)
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line C
This is line D
This is line E
This is line E
This is line E

<h2>Copy a file</h2>

In [51]:
# Copy file to another

with open('Example2.txt','r') as readfile:
    with open('Example3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)

In [52]:
# Verify if the copy is successfully executed

with open('Example3.txt','r') as testwritefile:
    print(testwritefile.read())

Line 1
Line 2
Line 3
finished
is line D
This is line E
This is line C
This is line D
This is line E
This is line E
This is line E

<h2>Excercise</h2>

In [54]:
#Run this prior to starting the exercise
from random import randint as rnd

memReg = 'members.txt'
exReg = 'inactive.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Membership No  Date Joined  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [116]:
'''
The two arguments for this function are the files:
    - currentMem: File containing list of current members
    - exMem: File containing list of old members
    
    This function should remove all rows from currentMem containing 'no' 
    in the 'Active' column and appends them to exMem.
    '''
def cleanFiles(currentMem, exMem):
    data = "{:^13}  {:<11}  {:<6}\n"
    # Open the currentMem file as in r+ mode
    with open(currentMem,'r+') as curM: 
        #Open the exMem file in a+ mode
        with open(exMem,'a+') as exM: 
          #Read each member in the currentMem (1 member per row) file into a list.
          header = curM.readline() #skip the first line
          records = curM.readlines()
          inactiveMembers = dict()

          #Iterate through the members and create a new list of the innactive members  
          for record in records:
              membershipNo = record[0:13].replace(' ','')
              dateJoined = record[13:26].replace(' ','')
              isActive = record[26:31].replace(' ','')

              inactiveMembers[membershipNo] = (dateJoined, isActive)

          # Go to the beginning of the currentMem file
          curM.seek(0)
          curM.write(header)

          # Iterate through the members list. 
          # If a member is inactive, add them to exMem, otherwise write them into currentMem
          for record in records:
              membershipNo = record[0:13].replace(' ','')
              if(inactiveMembers[membershipNo][1] == 'yes'):
                  curM.write(record)
              else:
                  exM.write(record)

          curM.truncate()

# The code below is to help you view the files.
# Do not modify this code for this exercise.
memReg = 'members.txt'
exReg = 'inactive.txt'
cleanFiles(memReg,exReg)


#headers = "Membership No  Date Joined  Active  \n"
with open(memReg,'r') as readFile:
    print("Active Members: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Inactive Members: \n\n")
    print(readFile.read())

Active Members:


Membership No  Date Joined  Active
    30971      2020-2-3     yes
    81809      2018-6-16    yes
    71859      2018-10-5    yes
    82620      2017-9-15    yes
    76988      2018-8-12    yes
    36434      2019-8-18    yes
    74000      2017-1-10    yes
    13177      2016-8-13    yes
    71929      2018-1-4     yes
    36434      2019-8-18    yes
    74000      2017-1-10    yes
    13177      2016-8-13    yes
    71929      2018-1-4     yes

Inactive Members:


Membership No  Date Joined  Active
    76030      2019-2-6     no
    58381      2018-7-3     no
    19656      2017-10-10   no
    29443      2020-12-6    no
    97390      2020-9-23    no
    28629      2016-6-10    no
    24402      2019-3-9     no
    42478      2015-11-12   no
    63396      2015-5-11    no
    79101      2020-3-10    no
    50682      2020-4-10    no
    83102      2017-2-16    no
    23870      2018-8-3     no
    14049      2017-4-17    no
    42478      2015-11-12   no
    63396      2015-5-11    no
    79101      2020-3-10    no
    50682      2020-4-10    no
    83102      2017-2-16    no
    23870      2018-8-3     no
    14049      2017-4-17    no

In [117]:
def testMsg(passed):
    if passed:
       return 'Test Passed'
    else :
       return 'Test Failed'

testWrite = "testWrite.txt"
testAppend = "testAppend.txt" 
passed = True

genFiles(testWrite,testAppend)

with open(testWrite,'r') as file:
    ogWrite = file.readlines()

with open(testAppend,'r') as file:
    ogAppend = file.readlines()

try:
    cleanFiles(testWrite,testAppend)
except:
    print('Error')

with open(testWrite,'r') as file:
    clWrite = file.readlines()

with open(testAppend,'r') as file:
    clAppend = file.readlines()
        
# checking if total no of rows is same, including headers

if (len(ogWrite) + len(ogAppend) != len(clWrite) + len(clAppend)):
    print("The number of rows do not add up. Make sure your final files have the same header and format.")
    passed = False
    
for line in clWrite:
    if  'no' in line:
        passed = False
        print("Inactive members in file")
        break
    else:
        if line not in ogWrite:
            print("Data in file does not match original file")
            passed = False
print ("{}".format(testMsg(passed)))

Test Passed

# Quizz Pandas

<h2>4.3</h2>

In [119]:
#Importing pandas
import pandas as pd

df=pd.DataFrame({'a':[11,21,31],'b':[21,22,23]})
df

    a   b
0  11  21
1  21  22
2  31  23

In [120]:
#Display the first three rows:
df.head(3)

    a   b
0  11  21
1  21  22
2  31  23

In [123]:
#Obtain column  'a' :
colA = df['a']
colA

0    11
1    21
2    31
Name: a, dtype: int64

In [131]:
#TO access a given element, we can use the method ix
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

<h2>4.4</h2>

In [134]:
#You will use the dataframe df for the following:
import pandas as pd

df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

In [136]:
#Find the unique values in column  'a' :
df['a'].unique()

array([1, 2])

In [137]:
#Return a dataframe with only the rows where column  a  is less than two:
df1 = df[df['a'] < 2]
df1

   a  b
0  1  1
2  1  1

In [138]:
df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool

# Lab Loading Data and Viewing Data

In [144]:
# Dependency needed to install file 

# No pude instalar esta libreria, debe ser tema de compatibilidad con google colab. Se hicieron los ejercicios en el sistema de IBM

![image.png]()